/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
html, body, div, span, applet, object, iframe,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Responsive Resets
-------------------------------------------------------------- */
@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 800px;
}

@media (min-width: 40em) {
  .grid-half {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .grid-half:nth-of-type(1) {
    padding-right: 2em;
  }

  .grid-half:nth-of-type(2) {
    padding-left: 2em;
  }
}
/* Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
For best results, use your favorite clearfix here.
-------------------------------------------------------------- */

.cf:before, .cf:after {
  content: "";
  display: table;
}


.cf:after {
  clear: both;
}


.cf {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
/* Site Styles */

body {
  background: #FFF;
  font: 100%/1.5 'Fauna One', serif;
}


.site-header {
  padding: 1em 0 0;
  background-image: url(../images/brickwall.png);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff)), url(../images/brickwall.png);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff), url(../images/brickwall.png);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff), url(../images/brickwall.png);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff), url(../images/brickwall.png);
  background: linear-gradient(top, rgba(255, 255, 255, 0), #ffffff), url(../images/brickwall.png);
  text-align: center;
}

.site-header img {
  width: 4.5em;
  height: auto;
}


.price {
  font-weight: bold;
  float: right;
  clear: right;
  margin-left: 2em;
}


.page-section {
  margin-bottom: 2em;
}


.sub-section {
  margin-bottom: 2em;
}


h1, h2, h3 {
  font-family: "IM Fell English SC", serif;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}


h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
}


h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}


a {
  color: #EC5E5E;
}

a:hover {
  color: #e94747;
}


.site-footer {
  background: rgba(0, 0, 0, 0.025);
  padding: 2em 0;
}

.hours-list li,
.page-content li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.25em 0;
  overflow: hidden;
}

.page-content ul {
  margin-bottom: 3em;
}

em {
  font-style: italic;
}

.page-content li strong {
  float:right;
  font-weight: bold;
  margin-left: 2em;
}

.hours-list li {
  border-bottom: 0;
}

address {
  line-height: 2em;
}

@media screen and (min-width: 40em) {

  h1 {
    font-size: 2.5em;
  }


  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.5em
  }

  .sub-section {
    margin-bottom: 4em;
  }

  .site-footer {
    margin-top: 4em;
  }
}

.about {
  line-height: 2em;
}

.about p,
.about ul {
  margin-bottom: 2em;
}

@media screen and (min-width: 600px) {

  .about {
    display: table-cell;
    vertical-align: top;
    padding-right: 5%;
  }


  .fb {
    display: table-cell;
    vertical-align: top;
  }


  .site-footer {
    padding: 4em 0;
  }
}
