<!DOCTYPE html>
<html class="no-js" lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>12ᵗʰ Street Bakery — 12th and Chicon, Austin Texas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="stylesheets/screen.css">
    </head>
    <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=207270772675096";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <!-- Add your site or application content here -->
        <header class="site-header" role="banner">
            <div class="container">
                <h1><img src="images/logo.png" alt="12th Street Bakery" width=200 height=200/></h1>
            </div>
        </header>

        <main id="main" role="main">
            <div class="container cf">
                <article class="page-content grid-full">
                    {{ content }}
                </article>
                <section id="hours" class="page-section cf">

                    <div class="grid-half sub-section">
                        <h3>Hours</h3>
                        <ul class="hours-list">
                            <li>Tuesday&ndash;Friday <span class="price">8am&ndash;3pm</span></li>
                            <li>Saturday <span class="price">9am&ndash;2pm</span></li>
                            <li>Sunday&ndash;Monday <span class="price">Closed</span></li>
                        </ul>
                    </div>

                    <div class="grid-half sub-section">
                        <h3>Location</h3>
                        <address>1208 Chicon Austin, TX 78702<br/>
                        Austin, Texas 78702<br/>
                        <span class="tel">(817) 944-0133</a><br/>
                        <a href="mailto:info@12thstreetbakery.com">info@12thstreetbakery.com</a></address>
                    </div>


                </section>
            </div>
        </main>

        <footer class="site-footer" role="contentinfo">
            <div class="container cf">
                <div class="grid-full">
                    <div class="about">
                        <h3 id="about">About</h3>
                        <p>12th Street Bakery is a local social enterprise that strongly believes that personal development and education are critical in our society. The enterprise exists to serve as a training incubator to prepare students for living wage jobs as well as assist in developing life skills for a hope and future. We work diligently to ensure that the services and products we sell are used to treat and support the trainees, community members and their families fairly and with respect.</p>
                        <ul>
                            <li><a href="http://www.mpaustin.org/">Mission Possible</a></li>
                            <li><a href="http://12thstreetbakery.blogspot.com/">Blog</a></li>
                            <li><a href="https://www.facebook.com/pages/12th-Street-Bakery/512785795433903">Facebook</a></li>
                            <li><a href="https://twitter.com/12StreetBakery">Twitter</a></li>
                        </ul>
                    </div>

                    <div class="fb">
                        <div class="fb-like-box" data-href="https://www.facebook.com/pages/12th-Street-Bakery/512785795433903" data-width="292"  data-show-faces="true" data-stream="false" data-header="true"></div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
